html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
    font-weight: 400;
    background-color: white;
    color: $text-standart-col;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex{
    display: flex;
}

.btn{
    padding: 25px 20px;
    min-width: 264px;
    background-color: $red;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition-property: border-radius, box-shadow;
    transition-duration: 0.2s;
    &:hover{
        border-radius: 20px;
        box-shadow: 0 0 15px black;
    }
}

.section-title {
    font-size: 42px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
}