@import 'fonts';
@import 'vars';
@import 'global';

@import 'page-index/header';
@import 'page-index/hero';
@import 'page-index/about';
@import 'page-index/reasons';
@import 'page-index/production';
@import 'page-index/delivery';