.reasons {
    padding: 100px 0 115px;
    background-image: url('../images/section-bg.jpg');

    &__title{
        margin-bottom: 48px;
    }

    &__inner{
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    &__item {
        margin-bottom: 35px;
        padding: 60px 30px 45px;
        max-width: 261px;
        width: 100%;
        height: 243px;
        background-color: white;
    }

    &__pic{
        margin-bottom: 18px;
        height: 65px;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__name{
        font-weight: 700;
    }
}